#{extends 'main.html' /}
#{set title:'Start' /}

#{welcomemenu id:"start"/}


<section class="ui two column middle aligned grid basic segment">
    <div class="column">
        <h1 class="ui center aligned header">
            BMI Tracker
        </h1>
        <h3 class="ui center aligned header">
            Fill in your assessments week by week and track your BMI. Trainers will comment on your progress and
            encourage you to keep going.
        </h3>
    </div>
    <div class="column">
        <img class="ui image" src="/public/images/seticon.jpg">
    </div>
</section>

